pipeline/pl_master_uhg.json
{
	"name": "pl_master_uhg",
	"properties": {
		"activities": [
			{
				"name": "set_run_id",
				"type": "SetVariable",
				"dependsOn": [],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "var_run_id",
					"value": {
						"value": "@concat('RUN_',pipeline().RunId)",
						"type": "Expression"
					}
				}
			},
			{
				"name": "Lookup1",
				"type": "Lookup",
				"dependsOn": [
					{
						"activity": "set_run_id",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "DelimitedTextSource",
						"storeSettings": {
							"type": "AzureBlobFSReadSettings",
							"recursive": true,
							"enablePartitionDiscovery": false
						},
						"formatSettings": {
							"type": "DelimitedTextReadSettings"
						}
					},
					"dataset": {
						"referenceName": "ds_csv",
						"type": "DatasetReference",
						"parameters": {
							"folder": {
								"value": "@pipeline().parameters.p_con_fol_path",
								"type": "Expression"
							},
							"container": {
								"value": "@pipeline().parameters.p_con_container_path",
								"type": "Expression"
							},
							"file": {
								"value": "@pipeline().parameters.p_con_file_path",
								"type": "Expression"
							}
						}
					},
					"firstRowOnly": false
				}
			},
			{
				"name": "ForEach1",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "Lookup1",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('Lookup1').output.value",
						"type": "Expression"
					},
					"isSequential": false,
					"activities": [
						{
							"name": "Execute Pipeline1",
							"type": "ExecutePipeline",
							"dependsOn": [],
							"policy": {
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"pipeline": {
									"referenceName": "pl_process_file",
									"type": "PipelineReference"
								},
								"waitOnCompletion": true,
								"parameters": {
									"p_file_name_foreach": {
										"value": "@item().file_name",
										"type": "Expression"
									},
									"p_src_path": {
										"value": "@split(item().source_path,'/')[0]",
										"type": "Expression"
									},
									"p_tgt_path": {
										"value": "@item().target_path",
										"type": "Expression"
									},
									"p_child_nb_container": {
										"value": "@pipeline().parameters.p_child_nb_container",
										"type": "Expression"
									},
									"p_child_nb_sa": {
										"value": "@pipeline().parameters.p_child_nb_sa",
										"type": "Expression"
									}
								}
							}
						}
					]
				}
			},
			{
				"name": "Web1",
				"type": "WebActivity",
				"dependsOn": [
					{
						"activity": "ForEach1",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"method": "POST",
					"url": "https://prod-02.southindia.logic.azure.com:443/workflows/0ec5d07d894c4f2a996ce09a4c35fd18/triggers/When_an_HTTP_request_is_received/paths/invoke?api-version=2016-10-01&sp=%2Ftriggers%2FWhen_an_HTTP_request_is_received%2Frun&sv=1.0&sig=V0hkIOBhjE38tuDnGECBc4K506GRaxCBIlbsPfJu1wU",
					"connectVia": {
						"referenceName": "AutoResolveIntegrationRuntime",
						"type": "IntegrationRuntimeReference"
					},
					"body": ""
				}
			}
		],
		"parameters": {
			"p_con_container_path": {
				"type": "string"
			},
			"p_con_fol_path": {
				"type": "string"
			},
			"p_con_file_path": {
				"type": "string"
			},
			"p_child_nb_container": {
				"type": "string"
			},
			"p_child_nb_sa": {
				"type": "string"
			}
		},
		"variables": {
			"var_run_id": {
				"type": "String"
			},
			"var_email_msg": {
				"type": "String"
			}
		},
		"annotations": []
	}
}