pipeline/pl_process_file.json
{
	"name": "pl_process_file",
	"properties": {
		"activities": [
			{
				"name": "Get Metadata1",
				"type": "GetMetadata",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"dataset": {
						"referenceName": "ds_csv",
						"type": "DatasetReference",
						"parameters": {
							"folder": {
								"value": "@pipeline().parameters.p_src_path",
								"type": "Expression"
							},
							"container": "filesysmhk",
							"file": {
								"value": "@concat(pipeline().parameters.p_file_name_foreach,'.csv')",
								"type": "Expression"
							}
						}
					},
					"fieldList": [
						"exists"
					],
					"storeSettings": {
						"type": "AzureBlobFSReadSettings",
						"enablePartitionDiscovery": false
					},
					"formatSettings": {
						"type": "DelimitedTextReadSettings"
					}
				}
			},
			{
				"name": "If Condition1",
				"type": "IfCondition",
				"dependsOn": [
					{
						"activity": "Get Metadata1",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"expression": {
						"value": "@activity('Get Metadata1').output.exists",
						"type": "Expression"
					},
					"ifTrueActivities": [
						{
							"name": "Set variable1",
							"type": "SetVariable",
							"dependsOn": [],
							"policy": {
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"variableName": "var_status",
								"value": {
									"value": "@concat('Filefound:',pipeline().parameters.p_file_name_foreach, 'Runid:',pipeline().parameters.p_run_id)",
									"type": "Expression"
								}
							}
						}
					]
				}
			}
		],
		"parameters": {
			"p_file_name_foreach": {
				"type": "string"
			},
			"p_src_path": {
				"type": "string"
			},
			"p_tgt_path": {
				"type": "string"
			},
			"p_run_id": {
				"type": "string",
				"defaultValue": "@variables('var_run_id')"
			}
		},
		"variables": {
			"var_status": {
				"type": "String"
			}
		},
		"annotations": []
	}
}